    html, textarea, button {
        font-family:  "Courier New", "Lucida Console", monospace;
        font-size: 30px;
    }

    body {
        background-color: gray;
        margin: 0;
    }

    .logo::before {
        content: 'Paper Hat';
    }

    .header {
        background-color: lightgray;
        width: calc(100vw - 10px);
        padding: 0 0 10px 10px;
        border-bottom: solid 3px rebeccapurple;
    }

    input[type="radio"] {
        accent-color: rebeccapurple;
    }

    .layout {
        display: grid;
        grid-template-columns: 1fr 10fr 1fr;
        justify-items: center;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr minmax(500px, 5fr) 1fr;
        grid-column: 2 / span 1;
        border: solid 1px rebeccapurple;
        border-radius: 7px;
        background-color: white;
        padding: 1rem;
        width: 100%;
        height: 100%;
    }

    .content {
        grid-column: 2;
        width: 100%;
        height: 100%;
    }

    .icon {
        height: 0.875rem;
    }

    .icon.lower {
        position: relative;
        top: 2px;
    }

    .clickable {
        cursor: pointer;
    }

    .icon.clickable {
        height: calc(0.875rem - 2px);
        border: solid 1px transparent;
        border-radius: 2px;
    }

    .icon.clickable:hover {
        border-color: gray;
    }

    .form-textinput {
        display: block;
        width: 100%;
        height: max(10rem, calc(50vh - 80px));
    }

    .form-button {
        width: 100%;
        margin: 2px 0;
    }
